@define-color bg #0D0E12;
@define-color fg #ffffff;
@define-color gray1 #D2D3CE;
@define-color gray2 #787c8c;
@define-color gray3 #a7a7af;
@define-color gray4 #E0E0D9;
@define-color gray5 #b4b0b5;
@define-color fg_bright #ffffff;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}